<div id="<%= dom_id category %>">

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-body">
              <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= category.name %></td>
                    <td><%= category.position %></td>
                  </tr>
                </tbody>
              </table>
          </div>
    </div>
</div>

