<p style="color: green"><%= notice %></p>

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-body">
                 <%= render @product %>
            </div>
        </div>
    </div>
</div>